absl-py==0.10.0
adal==1.2.2
aiohttp==3.6.2
apache-beam==2.28.0
appdirs==1.4.4
applicationinsights==0.11.9
apturl==0.5.2
argcomplete==1.8.1
argon2-cffi==20.1.0
asgiref==3.3.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
avro-python3==1.9.2.1
azure==4.0.0
azure-ai-textanalytics==1.0.0b1
azure-appconfiguration==1.0.0
azure-applicationinsights==0.1.0
azure-batch==8.0.0
azure-cli==2.0.81
azure-cli-core==2.0.81
azure-cli-telemetry==1.0.4
azure-cognitiveservices-anomalydetector==0.2.0
azure-cognitiveservices-formrecognizer==0.1.0
azure-cognitiveservices-knowledge-qnamaker==0.1.0
azure-cognitiveservices-language-luis==0.5.0
azure-cognitiveservices-language-spellcheck==2.0.0
azure-cognitiveservices-language-textanalytics==0.2.0
azure-cognitiveservices-personalizer==0.1.0
azure-cognitiveservices-search-autosuggest==0.2.0
azure-cognitiveservices-search-customimagesearch==0.2.0
azure-cognitiveservices-search-customsearch==0.3.0
azure-cognitiveservices-search-entitysearch==2.0.0
azure-cognitiveservices-search-imagesearch==2.0.0
azure-cognitiveservices-search-newssearch==2.0.0
azure-cognitiveservices-search-videosearch==2.0.0
azure-cognitiveservices-search-visualsearch==0.2.0
azure-cognitiveservices-search-websearch==2.0.0
azure-cognitiveservices-vision-computervision==0.5.0
azure-cognitiveservices-vision-contentmoderator==1.0.0
azure-cognitiveservices-vision-customvision==1.0.0
azure-cognitiveservices-vision-face==0.4.0
azure-common==1.1.24
azure-core==1.2.2
azure-cosmos==3.1.1
azure-cosmosdb-table==1.0.6
azure-datalake-store==0.0.48
azure-devops==0.17.0
azure-eventgrid==1.3.0
azure-eventhub==5.0.0
azure-eventhub-checkpointstoreblob==1.0.0
azure-eventhub-checkpointstoreblob-aio==1.0.0
azure-functions-devops-build==0.0.22
azure-graphrbac==0.61.1
azure-identity==1.2.0
azure-keyvault==4.0.0
azure-keyvault-certificates==4.0.0
azure-keyvault-keys==4.1.0b1
azure-keyvault-secrets==4.1.0b1
azure-loganalytics==0.1.0
azure-mgmt==5.0.0a1
azure-mgmt-advisor==3.0.0
azure-mgmt-alertsmanagement==0.2.0rc2
azure-mgmt-apimanagement==0.1.0
azure-mgmt-appconfiguration==0.3.0
azure-mgmt-applicationinsights==0.2.0
azure-mgmt-appplatform==0.1.0
azure-mgmt-attestation==0.1.0
azure-mgmt-authorization==0.60.0
azure-mgmt-automation==0.1.1
azure-mgmt-azurestack==0.1.0
azure-mgmt-batch==7.0.0
azure-mgmt-billing==0.2.0
azure-mgmt-botservice==0.2.0
azure-mgmt-cdn==4.1.0rc1
azure-mgmt-cognitiveservices==5.0.0
azure-mgmt-commerce==1.0.1
azure-mgmt-compute==10.0.0
azure-mgmt-consumption==3.0.0
azure-mgmt-containerinstance==1.5.0
azure-mgmt-containerregistry==3.0.0rc8
azure-mgmt-containerservice==8.2.0
azure-mgmt-cosmosdb==0.11.0
azure-mgmt-costmanagement==0.1.0
azure-mgmt-databoxedge==0.1.0
azure-mgmt-databricks==0.1.0
azure-mgmt-datafactory==0.8.0
azure-mgmt-datalake-analytics==0.6.0
azure-mgmt-datalake-store==0.5.0
azure-mgmt-datamigration==4.0.0
azure-mgmt-datashare==0.1.0rc1
azure-mgmt-deploymentmanager==0.2.0
azure-mgmt-devspaces==0.2.0
azure-mgmt-devtestlabs==4.0.0
azure-mgmt-dns==3.0.0
azure-mgmt-documentdb==0.1.3
azure-mgmt-edgegateway==0.1.0
azure-mgmt-eventgrid==3.0.0rc4
azure-mgmt-eventhub==3.0.0
azure-mgmt-frontdoor==0.3.0
azure-mgmt-hanaonazure==0.12.0
azure-mgmt-hdinsight==1.4.0
azure-mgmt-healthcareapis==0.1.0
azure-mgmt-hybridcompute==0.1.1
azure-mgmt-imagebuilder==0.3.0
azure-mgmt-iotcentral==2.0.0
azure-mgmt-iothub==0.10.0
azure-mgmt-iothubprovisioningservices==0.2.0
azure-mgmt-keyvault==2.0.0
azure-mgmt-kusto==0.5.0
azure-mgmt-labservices==0.1.1
azure-mgmt-loganalytics==0.2.0
azure-mgmt-logic==4.0.0rc2
azure-mgmt-machinelearningcompute==0.4.1
azure-mgmt-machinelearningservices==0.1.0
azure-mgmt-maintenance==0.1.0
azure-mgmt-managedservices==1.0.0
azure-mgmt-managementgroups==0.2.0
azure-mgmt-managementpartner==0.1.1
azure-mgmt-maps==0.1.0
azure-mgmt-marketplaceordering==0.2.1
azure-mgmt-media==2.1.0
azure-mgmt-mixedreality==0.1.0
azure-mgmt-monitor==0.7.0
azure-mgmt-msi==1.0.0
azure-mgmt-netapp==0.8.0
azure-mgmt-network==9.0.0
azure-mgmt-notificationhubs==2.1.0
azure-mgmt-operationsmanagement==0.1.0
azure-mgmt-peering==0.1.0rc2
azure-mgmt-policyinsights==0.4.0
azure-mgmt-powerbidedicated==0.1.0
azure-mgmt-powerbiembedded==2.0.0
azure-mgmt-privatedns==0.1.0
azure-mgmt-rdbms==1.9.0
azure-mgmt-recoveryservices==0.4.0
azure-mgmt-recoveryservicesbackup==0.6.0
azure-mgmt-redis==7.0.0rc1
azure-mgmt-relay==0.2.0
azure-mgmt-reservations==0.7.0
azure-mgmt-resource==8.0.0
azure-mgmt-resourcegraph==2.0.0
azure-mgmt-scheduler==2.0.0
azure-mgmt-search==2.1.0
azure-mgmt-security==0.3.0
azure-mgmt-serialconsole==0.1.0
azure-mgmt-servermanager==2.0.0
azure-mgmt-servicebus==0.6.0
azure-mgmt-servicefabric==0.4.0
azure-mgmt-signalr==0.3.0
azure-mgmt-sql==0.16.0
azure-mgmt-sqlvirtualmachine==0.5.0
azure-mgmt-storage==7.1.0
azure-mgmt-storagecache==0.2.0
azure-mgmt-storagesync==0.2.0
azure-mgmt-subscription==0.5.0
azure-mgmt-timeseriesinsights==0.1.0
azure-mgmt-trafficmanager==0.51.0
azure-mgmt-vmwarecloudsimple==0.2.0
azure-mgmt-web==0.44.0
azure-multiapi-storage==0.2.4
azure-servicebus==0.50.2
azure-servicefabric==7.0.0.0
azure-servicemanagement-legacy==0.20.7
azure-storage-blob==1.4.0
azure-storage-common==1.4.0
azure-storage-file==1.4.0
azure-storage-file-datalake==12.0.0b7
azure-storage-file-share==12.0.1
azure-storage-queue==1.4.0
azure-template==0.0.1
azureml-core==1.19.0
backcall==0.2.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==3.1.7
beautifulsoup4==4.8.2
bleach==3.3.0
blinker==1.4
blis==0.7.4
Brlapi==0.7.0
cachetools==4.2.1
catalogue==2.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
command-not-found==0.3
contextlib2==0.6.0.post1
convergence==0.3.0
crcmod==1.7
cryptography==2.8
cupshelpers==1.0
cycler==0.10.0
cymem==2.0.5
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
dill==0.3.1.1
distlib==0.3.1
distro==1.4.0
distro-info===0.23ubuntu1
Django==3.1.7
docker==4.4.4
docopt==0.6.2
duplicity==0.8.12.0
entrypoints==0.3
fabric==2.5.0
facets-overview==1.0.0
fastavro==1.3.4
fasteners==0.16
filelock==3.0.12
flake8==3.8.4
flatbuffers==1.12
future==0.18.2
gast==0.4.0
getdevinfo==1.1.1
google-api-core==1.26.1
google-api-python-client==1.12.8
google-apitools==0.5.31
google-auth==1.28.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.3
google-cloud-bigquery==1.28.0
google-cloud-bigtable==1.7.0
google-cloud-build==2.0.0
google-cloud-core==1.6.0
google-cloud-datastore==1.15.3
google-cloud-dlp==1.0.0
google-cloud-language==1.3.0
google-cloud-pubsub==1.7.0
google-cloud-spanner==1.19.1
google-cloud-storage==1.36.2
google-cloud-videointelligence==1.16.1
google-cloud-vision==1.0.0
google-crc32c==1.1.2
google-pasta==0.2.0
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
graphviz==0.16
grpc-google-iam-v1==0.12.3
grpcio==1.34.1
grpcio-gcp==0.2.2
h5py==3.1.0
hdfs==2.6.0
html5lib==1.0.1
httplib2==0.17.4
humanfriendly==4.18
idna==2.10
inference-schema==1.1.0
iniconfig==1.1.1
invoke==1.3.0
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isodate==0.6.0
javaproperties==0.6.0
jedi==0.18.0
Jinja2==2.11.3
jmespath==0.9.4
joblib==0.14.1
jsmin==2.2.2
jsondiff==1.1.1
jsonpickle==1.4.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.7.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keras-tuner==1.0.1
keyring==18.0.1
kiwisolver==1.3.1
knack==0.6.3
kubernetes==11.0.0
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
libcst==0.3.17
lockfile==0.12.2
louis==3.12.0
lxml==4.6.3
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
mistune==0.8.4
ml-metadata==0.28.0
ml-pipelines-sdk==0.28.0
mock==2.0.0
monotonic==1.5
mplcursors==0.4
msal==1.1.0
msal-extensions==0.1.3
msrest==0.6.10
msrestazure==0.6.2
multidict==4.7.3
murmurhash==1.0.5
mypy-extensions==0.4.3
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
ndg-httpsclient==0.5.1
nest-asyncio==1.5.1
netifaces==0.10.4
notebook==6.3.0
numpy==1.19.5
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.3
pandocfilters==1.4.3
paramiko==2.6.0
parso==0.8.1
pathspec==0.8.1
pathy==0.4.0
pbr==5.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
pkginfo==1.4.2
pluggy==0.13.1
ply==3.11
portalocker==1.5.1
powerline-status==2.7
preshed==3.0.5
prometheus-client==0.9.0
promise==2.3
prompt-toolkit==3.0.18
proto-plus==1.18.1
protobuf==3.15.6
psutil==5.5.1
ptyprocess==0.7.0
py==1.10.0
pyarrow==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycodestyle==2.6.0
pycparser==2.20
pycups==1.9.73
pydantic==1.7.3
pydot==1.4.2
PyDrive==1.3.1
pyflakes==2.2.0
Pygments==2.8.1
PyGObject==3.36.0
PyJWT==1.7.1
pymacaroons==0.13.0
pymongo==3.11.3
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.7
pyRFC3339==1.1
pyrsistent==0.17.3
pytest==6.2.1
python-apt==2.0.0+ubuntu0.20.4.4
python-dateutil==2.8.1
python-debian===0.1.36ubuntu1
pytz==2021.1
pyxdg==0.26
PyYAML==5.4.1
pyzmq==22.0.3
qtconsole==5.0.3
QtPy==1.9.0
questionary==1.9.0
reportlab==3.5.34
requests==2.25.1
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
rpy2==3.3.6
rsa==4.7.2
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
scikit-learn==0.24.1
scipy==1.6.1
scp==0.13.0
seaborn==0.11.1
SecretStorage==2.3.1
Send2Trash==1.5.0
simplejson==3.16.0
sip==4.19.21
six==1.15.0
sklearn==0.0
smart-open==3.0.0
soupsieve==1.9.5
spacy==3.0.3
spacy-legacy==3.0.1
SQLAlchemy==1.3.12
sqlparse==0.4.1
srsly==2.4.0
sshtunnel==0.1.4
systemd-python==234
tabulate==0.8.9
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-cloud==0.1.13
tensorflow-data-validation==0.28.0
tensorflow-datasets==3.0.0
tensorflow-estimator==2.5.0
tensorflow-hub==0.9.0
tensorflow-metadata==0.28.0
tensorflow-model-analysis==0.28.0
tensorflow-serving-api==2.4.1
tensorflow-transform==0.28.0
termcolor==1.1.0
terminado==0.9.3
terminaltables==3.1.0
testpath==0.4.4
tfx==0.28.0
tfx-bsl==0.28.1
thinc==8.0.1
threadpoolctl==2.1.0
timeloop==1.0.2
toml==0.10.2
tornado==6.1
tqdm==4.59.0
traitlets==5.0.5
typer==0.3.2
typing-extensions==3.7.4.3
typing-inspect==0.6.0
tzlocal==2.1
uamqp==1.2.6
ubuntu-advantage-tools==20.3
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
uritemplate==3.0.1
urllib3==1.26.4
usb-creator==0.3.7
virtualenv==20.4.3
vsts-cd-manager==1.0.2
wadllib==1.3.3
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.58.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
wxPython==4.0.7
xkit==0.0.0
xmltodict==0.12.0
yarl==1.4.2
